services:
  copyofeliteprofinancecatering:
    image: copyofeliteprofinancecatering
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
